# node_modules
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/
build/
dist/

# TypeScript cache & build info
*.tsbuildinfo
next-env.d.ts

# Environment variables & local secrets
.env
.env*.local
.env.production
!.env.example
!.env.production.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# OS & IDE metadata
.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# BullMQ / Baileys auth tokens local cache
whatsapp-auth/
tokens/
